# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.ipynb linguist-documentation
__pycache__/ export-ignore
*.pyc export-ignore

# Mac OS files
**/.DS_Store export-ignore
.AppleDouble export-ignore
.LSOverride export-ignore